<!DOCTYPE>
<HTML>
	<HEAD>
		<TITLE>::my-host-uc::.com</TITLE>
	</HEAD>

	<BODY background="http://www.::my-host::.com/Images/background.jpg">
	<CENTER>
		<h1 style="color:white;font-family:Comic Sans MS;font-size:40">
			Cats in Spaaaaace
		</h1>
	</CENTER>
		<IMG SRC="http://www.::my-host::.com/Images/trip-the-light-fantastic.jpg">
	<CENTER>
		<p style="color:white;font-family:Comic Sans MS;font-size:24">
		A Certified Content-Free Web Site
		</p>
		<p style="color:gray;font-family:Comic Sans MS;font-size:10">
		<a href="./moar.html">Moar.</a>
		</p>
		<p style="color:white;font-family:Comic Sans MS;font-size:10" >Last Updated: ::TODAY::</p>
	</CENTER>
</BODY></HTML>
